<header class="site-header">

  <div class="wrap">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

    <h1>SAVE THE DATE</h1>
    <h2>15-05-15</h2>
    <div>
      <span class='name-blocks'>
        <span class='firstname'>
          Melinda
        </span>
      </span>
      <span class='name-blocks'>
        <span class='firstname'>
          Cristiano
        </span>
      </span>
    </div>
    <div class='hashtag'>
      #mrandmrsgeeky
    </div>

  </div>

</header>
